---
// Import any necessary components or styles here
---

<nav class="bg-gray-800 text-white p-4">
  <div class="flex justify-between items-center">
    <a href="/" class="text-2xl font-bold">TeaClient Assets Hosting</a>
    <div class="space-x-4">
      <a href="https://teaclient.net" class="hover:text-gray-300">Home</a>
      <a href="https://docs.teaclient.net" class="hover:text-gray-300">Docs</a>
      <a href="https://teaclient.net/news" class="hover:text-gray-300">News</a>
      <a href="https://teaclient.net/" class="hover:text-gray-300">Download</a>
    </div>
  </div>
</nav>
