---
import Nav from "../components/nav.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title} | TeaClient Assets</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="text-white">
    <div class="page-background">
      <img
        class="fixed top-0 left-0 w-full h-full object-cover object-center -z-10 pointer-events-none [-webkit-user-drag: none] select-none"
        id="background-image"
        src="/images/website-background.webp"
        alt="The background"
        loading="lazy"
        decoding="async"
      />
    </div>

    <Nav />
    <slot />
  </body>
</html>
